@font-face {
  font-family: "RetroFont";
  src: url("./font/born2bsportyv2-webfont.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}
body {
  background-color: rgb(240, 168, 13);
  font-family: RetroFont, monospace;
  font-size: 32px;
}
.container1 {
  display: flex;
  align-items: flex-start;
}

.AboutSection {
  display: flex;
  flex-direction: column;
}

.contact {
  margin-top: 10px;
  margin-left: 40px;
  display: inline-flex;
  padding: 10px;
}

.contact-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: yellow;

  border-radius: 20px;
}

.contact {
  margin-top: 20px;
}

.Name {
  text-align: center;
  margin-top: 5px;
}
.retro-box {
  display: inline-block;
  padding: 20px 40px;
  border: 4px solid black;
  background-color: white;
  color: black;
  box-shadow: 8px 8px 0px 0px black;
  text-transform: uppercase;
}
.aboutMe,
.skills {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 24px;
  text-align: left;
  background-color: yellow;
  padding: 20px;
  border: 8px solid rgb(233, 233, 86);
  box-shadow: 10px 10px 0px 0px rgb(233, 233, 86);
}
.about {
  margin-bottom: 16px;
  display: inline-block;
  padding: 10px 20px;
  border: 4px solid black;
  background-color: white;
  color: black;
  box-shadow: 4px 4px 0px 0px black;
}
.mySkills {
  padding: 8px 0px;
  font-size: 56px;
  margin-bottom: 16px;
  padding: 10px 20px;
  border: 4px solid black;
  background-color: white;
  color: black;
  box-shadow: 4px 4px 0px 0px black;
}
.skills {
  margin-left: 60px;
}
.skillsList {
  margin-top: 8px;
  background: black;
  color: white;
  padding: 16px;
  box-shadow: 5px 5px 0px 0px white;
}
.debug-box {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.411);
  border: 2px solid rgb(194, 190, 190);
  padding: 10px;
  font-size: 14px;
  color: black;
}

@keyframes fade-In {
    from {
        opacity: 0.1;
    } to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fade-In 800ms ease forwards;
}

@keyframes slideToRight {
    from {
        transform: translateX(20px);
    } to {
        transform: translateX(0);
    }
}

.slide-right {
    animation: slideToRight 800ms ease forwards;
}

@keyframes slideToLeft {
    from {
        transform: translateX(-20px)
    } to {
        transform: translateX(0);
    }
}

.slide-left {
    animation: slideToLeft 800ms ease forwards;
}

.seperator {
    height: 2px;
    border: none;
    background-color: black;
    margin: 2.5 rem auto;
    width: 80%;
    margin:auto;
    margin-top: 40px;
    display: block;
    position: relative;
    overflow : visible;
    margin-bottom: 50px;
}

.seperator::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 2px;
    background-color: black;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  overflow: visible;
}

.Vid {
  display: block;
  margin-top: 40px;
  width: 600px;
  height: auto;
  border-radius: 10px;
  margin: 0;
}

h4 {
  margin-top: 20px;
  font-size: 32px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  list-style-position: inside;
  margin: 0;
  list-style: none;
  display: block;
}

.project-info {
  margin-top: 10px;
  padding: 20px;
}

.project-card {
  background-color: yellow;
  padding: 20px;
  border: 8px solid rgb(233, 233, 86);
  box-shadow: 10px 10px 0px 0px rgb(233, 233, 86);
  margin-bottom: 40px;
}
